table {
	border: 1px solid red;
	/*修正单元格之间的边框不能合并*/
	border-collapse: collapse;
	width: 600px;
}
table td {
	border: 1px solid black;
	width: 50%;
	background: white;

}
table th {
	border: 1px solid black;
	width: 50%;

}
tbody th {
	background-color: rgb(87,164,255);  
}
